<style>
  body {
    padding-top: 0 !important;
  }
  .navbar-default {
    border: none;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 0;
    background-color: #fff;
  }
  .navbar-brand {
    font-size: 21px;
    font-weight: 400;
    height: auto;
    padding-top: 18px;
    padding-bottom: 8px;
    display: flex;
    align-items: center;
  }
  .navbar-brand img {
    height: 52px;
    width: auto;
    margin-right: 14px;
  }
  .navbar-nav > li > a {
    padding: 10px 14px 18px 14px;
    font-size: 14px;
    letter-spacing: 0.3px;
  }
  .navbar-nav > li > a:hover {
    color: #2a6496;
  }
  .navbar-header {
    float: none;
  }
  .navbar-collapse {
    border-top: none;
    box-shadow: none;
  }
  @media (max-width: 767px) {
    .navbar-brand {
      font-size: 15px;
      padding-top: 12px;
    }
    .navbar-brand img {
      height: 38px;
      margin-right: 10px;
    }
  }
</style>

<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>

    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/"><img src="{{ site.url }}{{ site.baseurl }}/images/logopic/logo.png" alt="" />{{ site.title }}</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/research">Research</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/trainings">Trainings</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/vacancies">Opportunities</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/team">Team</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/teaching">Teaching</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/pictures">Pictures</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/contact">Contact</a></li>
	  </ul>
	</div>
  </div>
</div>